body {
  background: url(pizza.jpg) no-repeat center center fixed;
  background-size: cover;
}

.flex-container {
  text-align: center;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 8em;
  text-align: center;
  color: white;
  border-bottom: white solid 4px;
  background-color: rgba(0,0,0,.7);
  letter-spacing: 4px;
  font-family: Avenir, Sans-serif;
  padding: 570px 850px 30px 850px;
}

button {
  margin: 10px;
  font-size: 4em;
}

.btn-lg {
  padding: 10px 20px;
  font-size: 2em;
  border-radius: 10px;
}
